footer {
  display:flex;
  background-color: black;
  justify-content: center;
  align-items: center;

  svg{
    fill:white;
  }

  p {
    margin-top:spacer();
    color: white;
  }

  .container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: spacer();
    padding-bottom: spacer();
    padding-top: spacer(2);
  }
}