footer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: spacer();
  padding-bottom: spacer(0.2);
  padding-top: spacer(2);

  svg{
    fill:white;
  }

  p {
    margin-top:spacer();
    color: white;
  }
}