header {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: spacer();
    padding-right: spacer();
    padding-left: spacer();
    padding-bottom: spacer(0.5);
  }

  svg {
    fill: #ff6060;
  }

  nav {
    ul {
      display: flex;
      flex-wrap: nowrap;
      gap: spacer();
    }

    li {
      list-style: none;
      a {
        color: $primary;
        text-decoration: none;
        white-space: nowrap;

        &:hover,
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  header {
    nav ul {
      gap: spacer(1, "sm");

      a {
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }
    svg {
      width: 145px;
      height: 47px;
    }
  }
}
