.card-housing {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 340px;
  width: 340px;
  opacity: 0;
  background: $primary;  

  @for $i from 0 through 50 {
    &--#{$i} {
      animation: reveal .4s ease-out both;
      animation-delay: 0.15s * $i;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: $gradient-dark;
  }

  h3 {
    position: absolute;
    bottom:0;
    left:0;
    padding:15px;
    line-height: 1.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 3;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    opacity: 0;
    z-index: 2;

    &.loaded {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      &:hover { 
        transition-delay: 0s!important;
        transition-duration: 0.15s!important ;
        opacity: 0.8!important;
      }
    }


  }

  &::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: $gradient-dark;
    z-index: 2;
    pointer-events: none;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: $screen-sm) {
  .card-housing {
    flex-grow: 1 ;
    height: 255px;
    width: 100%;
  }
}