.card-housing {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 340px;
  width: 340px;
  background: $primary;

  &::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: $gradient-dark;
  }

  h3 {
    position: absolute;
    bottom:0;
    left:0;
    padding:15px;
    line-height: 1.5rem;
    color: white;
    font-size: 18px;
    font-weight: 500;
    z-index: 3;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    opacity: 0;
    z-index: 2;

    &.loaded {
      opacity: 1;
      transition: opacity 0.3s ease-in-out 0.3s;
    }
  }
}