.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding:spacer();

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &--light{
    opacity: 0.5;

    .loader {
      border-color: white;
      border-bottom-color: transparent;
    }
  }
}

.loader {
  padding: 10px;
  border: 6px solid $primary;
  border-bottom-color: transparent;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  height: 0px;
  width: 0px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}