.stars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;

  &__item {
    &--active {
      fill: $primary;
    }
    &--off {
      fill: $grey;
    }
  }
}

@media (max-width: $screen-sm) {
  .stars {
    gap: 5px;

    svg {
      height: 15px;
      width: 15px;
    }
  }
}
