// multiplier of space application define in $base-spacing
@function spacer($multiple: 1, $mediaquery: '') {
  @if( $mediaquery == 'sm') {
    @return $base-spacing-sm * $multiple;
  }
  @return $base-spacing * $multiple;
}