// Spacer
$base-spacing: 30px;
$base-spacing-sm: 20px;

// Image Sizes
$img-height-large: 415px;
$img-height-medium: 225px;
$img-height-sm-medium: 115px;
$img-height-sm-large: 335px;
$img-height-thumb: 340px;

// Max Width Screen
$max-screen-lg: 1300px;
$max-screen-md: 1024px;

// Responsive Breakpoint
$screen-xl: 1200px;
$screen-lg: 1024px;
$screen-md: 992px;
$screen-sm: 768px;
