#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: spacer();
  margin-bottom:spacer();  
}

@media (max-width: $screen-sm) {
  #about  {
    margin: 0;
  }

  .heading-lg {
    .head-picture {
      &--medium {
        height: 223px!important;
    
        img {
          height: 223px!important;
        }
      }
    }
  }
}