#error404 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: spacer();

  h2 {
    font-size: 288px;
    font-weight: 700;
  }

  p {
    font-size: 36px;
    line-height: normal;
    font-weight: 500;    
    text-align: center;
  }
}

@media (max-width: $screen-sm) {
  #error404 {
    justify-content: center;
    h2 {
      font-size: 96px;
    }
    p {
      font-size: 1.1rem;
      line-height: normal;
    }

    a {
      align-content: center;
      margin-top:spacer(3)
    }
  }
}