.housings-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: spacer();
  background-color: $greyLight;
  border-radius: 25px;
  gap:spacer(1);
}

@media (max-width: $screen-sm) {
  .housings-list {
    display: flex;
    flex-grow: 1;
    padding: 0;
    background-color: transparent;
    width: 100%;
    gap:spacer(1, 'sm');

    li {
      width: 100%;
    }
  }
}

@media (max-width: $screen-md) {
  .housings-list {
    gap:spacer(1, 'sm');
  }
}