@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
}

body{
  padding:0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  flex-direction: column;
  gap: spacer();
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: spacer();
  padding-right: spacer();
  max-width: $max-screen-lg;
  padding-bottom: spacer();
}

h2, h3, h4 {
  font-size: 2rem;
  font-weight: 500;
  color: $primary;
  line-height: 3rem;
}

h3 {
  font-size: 18px;
  line-height: 1.6rem;
}

p {
  font-size:18px;
  font-weight: 400;
  line-height: 1.5rem;
  color: $primary;
}

li {
  line-height: 1.7rem;
}

.max-screen-lg {
  max-width: $max-screen-lg;
}

a {
  color: $primary;
}

.text-center {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 64px;
  width: 64px;
  flex-shrink: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  img {
    object-fit: cover;
    width:100%;
    min-height: 100%;
  }

  &.loaded {
    opacity: 1;
  }
}