@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
}

body{
  padding:0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  flex-direction: column;
  gap: spacer();
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: spacer();
  padding-right: spacer();
  max-width: $max-screen-lg;
  padding-bottom: spacer();
}

h2, h3, h4 {
  font-size: 2rem;
  font-weight: 500;
  color: $primary;
}

h3 {
  font-size: 18px;
}

p {
  font-size:18px;
  font-weight: 400;
  color: $primary;
}

.max-screen-lg {
  max-width: $max-screen-lg;
}

a {
  color: $primary;
}

.text-center {
  text-align: center;
}